@{
    ViewBag.Title = "About App";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This app is for upload and download.</p>
<p>@Html.ActionLink("Upload", "UploadFiles", "File")</p>
<p>@Html.ActionLink("Download", "Index", "DownloadFile")</p>
